.qui-possede-les-medias .qui-possede-les-medias-box {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  right: 0;
  width: auto;
  padding: 2rem;
  margin: 2rem;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  opacity: 0.9;
  text-align: right;
  border-radius: 0.2em;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.27);
}

/* link */
.qui-possede-les-medias-box a:link,
.qui-possede-les-medias-box a:visited,
.qui-possede-les-medias-box a:active,
.qui-possede-les-medias-box a:focus {
  text-decoration: underline;
  color: #edb200;
}

/* mouse over link */
.qui-possede-les-medias-box a:hover {
  text-decoration: none;
  color: #edb200;
}
