.qui-possede-les-medias .qui-possede-les-medias-box {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  right: 0;
  width: 250px !important;
  padding: 2em !important;
  margin: 2em !important;
  background: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  text-align: left !important;
  border-radius: 0.2em;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.27);
  line-height: 1.5em !important;
}

/* link */
.qui-possede-les-medias-box a:link,
.qui-possede-les-medias-box a:visited,
.qui-possede-les-medias-box a:active,
.qui-possede-les-medias-box a:focus {
  text-decoration: underline !important;
  color: #edb200 !important;
}

/* mouse over link */
.qui-possede-les-medias-box a:hover {
  text-decoration: none !important;
  color: #edb200 !important;
}

/* close button */
.qui-possede-les-medias-button {
  cursor: pointer;
  background: none !important;
  color: white !important;
  border: none !important;
  float: right !important;
  margin: -1.5em !important;
  font-size: 1em;
}
