:root {
  width: 250px;
  padding: 1em;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* link */
.qui-possede-les-medias-box a:link,
.qui-possede-les-medias-box a:visited,
.qui-possede-les-medias-box a:active,
.qui-possede-les-medias-box a:focus {
  text-decoration: underline;
  color: #edb200;
}

/* mouse over link */
.qui-possede-les-medias-box a:hover {
  text-decoration: none;
  color: #edb200;
}
