/* link */
.qui-possede-les-medias-box a:link,
.qui-possede-les-medias-box a:visited,
.qui-possede-les-medias-box a:active,
.qui-possede-les-medias-box a:focus {
  text-decoration: underline;
  color: #edb200;
}

/* mouse over link */
.qui-possede-les-medias-box a:hover {
  text-decoration: none;
  color: #edb200;
}
