name: Release

on:
  schedule:
    - cron:  '0 4 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - uses: actions/github-script@0.8.0
        id: request_release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const latest = await github.repos.getLatestRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            const commits = await github.repos.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              since: latest.data.published_at
            });
            return commits.data.length > 0
      - name: Use Node.js ${{ matrix.node-version }}
        if: contains(steps.request_release.outputs.result, 'true')
        uses: actions/setup-node@v2.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build, and test
        if: contains(steps.request_release.outputs.result, 'true')
        run: |
          npm install
          npm run build --if-present
          npm test
        env:
          CI: true
      - name: Generate release name
        if: contains(steps.request_release.outputs.result, 'true')
        id: release_name
        run: |
          echo "::set-output name=version::$(npx daily-version)"
      - name: Create Release
        if: contains(steps.request_release.outputs.result, 'true')
        id: create_release
        uses: actions/create-release@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.release_name.outputs.version }}
          release_name: Release ${{ steps.release_name.outputs.version }}
      - name: Publish
        if: contains(steps.request_release.outputs.result, 'true')
        run: npm run release
        env:
          VER: ${{ steps.release_name.outputs.version }}
          WEXT_SHIPIT_CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
          WEXT_SHIPIT_CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          WEXT_SHIPIT_CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          WEXT_SHIPIT_CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          WEXT_SHIPIT_FIREFOX_JWT_ISSUER: ${{ secrets.JWT_USER }}
          WEXT_SHIPIT_FIREFOX_JWT_SECRET: ${{ secrets.JWT_SECRET }}
